<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="icon icon-cloud"></i> Messier</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">AWS<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li role="presentation">
              <a href="/stacks"><i class="icon icon-reorder"></i> Stacks</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">EC2</li>
            <li role="presentation">
              <a href="/ec2/instances"><i class="icon icon-laptop"></i> Instances</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
